:root{
    --spanpadrão: rgb(92, 148, 52);
}
.titulo{
    font-family: 'robotob';
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.text{
    font-size: 1.6em;
    font-family: 'robotor';
}
*{
    text-decoration: none;
    box-sizing: border-box;
}

body
{
    background: linear-gradient(to bottom, rgb(32, 49, 36),rgb(12, 32, 19));
    font-size: 100%;
    color: white;
    margin-top: 25px;
    margin-left: 40px; /*Para fixar tudo no meio*/
    margin-right: 40px;
    padding: 20px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.neruslogo{
    width: 200px;
    height: 70px;
}
#cabecalho-menu{
    display:flex;
    flex-direction: row;
    gap: 45px;
    margin-right: 35%;
    padding: 15px;
}
.cabecalho-menu-item{
    font-family: 'robotob';
    color: white;
    font-weight: 400;
    font-size: 26px;
}
#cabecalho-menu2{
    display: flex;
    gap: 45px;
    padding: 15px;
}
.cabecalho-menu-item2{
    font-family: 'robotob';
    color: white;
    font-weight: 400;
    font-size: 26px;
}
#primeiranav{
  display: flex;
align-items: flex-start;
    
}
main{
    margin-top: 100px;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
}

.primeiro-conteudo > h1{
    font-size: 60px;
    line-height: 10px;
    /*font-family: 'quicksandbold';*/
    
}

.primeiro-conteudo > p{
    width: 78%;
    line-height: 25px;
    font-size: 1.6em;
    font-family: 'robotor';
    font-weight: 400;
    margin-top: 1.5rem;
}
.nerus-imagem{
    height: 600px;
    width: auto;
    margin-right: 10%;

}

span{
    color:var(--spanpadrão);
}

#submit{
    font-family: 'robotob';
    font-size: 17px;
    height: 50px;
    width: 15%;
    color:white;
    background-color:  #5c9434;

}
#submit:hover{
    cursor: pointer;
    
}

.vamos-começar{
    font-size: 0.9em;
    margin-top: 15px;
    border-radius: 5px;
    height: 20px;
    padding: 15px;
    border: none;
    background-color: var(--spanpadrão);
}
.conteudo-secundario{
display: flex;
background: linear-gradient(to bottom, rgb(32, 49, 36), rgba(255, 255, 255, 0.13));
flex-direction: row;
margin-top: 15%;
padding: 25px;
box-shadow: 1.5px 1.5px rgba(41, 41, 41, 0.418);
}
.titulo-text{
    display: flex;
   flex-wrap: wrap;
}
.titulo-text > p{
    width: 19%;
    margin-left: 20%;
}
.imagem-conteudo-secundario{
    width: 650px;
    height: auto;
    margin-left: 19%;
}
.wrap{
    flex-flow: row wrap;
}